* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
}
html,
body {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
h1 {
	animation: h1intro 0.3s ease-in-out 1 forwards;
	font-size: 52px;
	color: white;
	letter-spacing: 2px;
	filter: drop-shadow(0 0 0px black) drop-shadow(0 0 0px black) drop-shadow(0 0 1px black)
		drop-shadow(0 0 1px black) drop-shadow(0 0 1px black);
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
@keyframes h1intro {
	0% {
		scale: 2;
	}
	100% {
		scale: 1;
	}
}
@keyframes imgintro {
	0% {
		opacity: 0;
		scale: 0.5;
	}
	10% {
		opacity: 1;
	}
	50% {
		scale: 1.1;
	}
	100% {
		opacity: 1;
		scale: 1;
	}
}
#randombeerinput {
	width: 100%;
	height: 100%;
}

#randombeer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#randombeer:after {
	position: fixed;
	mix-blend-mode: soft-light;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: radial-gradient(circle, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 1) 100%);
}

#randombeer:before {
	position: fixed;
	opacity: 0.4;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: radial-gradient(circle, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 1) 100%);
}

#randombeer img {
	opacity: 0;
	filter: drop-shadow(0 0 56px white) drop-shadow(0 0 56px white) drop-shadow(0 0 56px white);
	animation: imgintro 0.3s ease-in-out 1 forwards;
	max-height: 80vh;
	min-height: 80vh;
	margin-bottom: 40px;
}

.randombtn {
	background-image: url("beericon.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 70%;
	position: fixed;
	width: 120px;
	height: 120px;
	background-color: darkgreen;
	border-radius: 100%;
	z-index: 10;
	right: 40px;
	bottom: 40px;
}

.infobtn {
	opacity: 0;
	position: fixed;
	width: 80px;
	height: 80px;
	background-color: rgb(48, 48, 48);
	border-radius: 100%;
	z-index: 10;
	left: 60%;
	top: 80px;
	text-align: center;
	color: white;
	line-height: 80px;
	font-size: 52px;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	animation: imgintro 0.5s 1 forwards;
	animation-delay: 0.1s;
}

.randombtn:hover,
.infobtn:hover,
.close:hover {
	cursor: pointer;
	scale: 1.1;
	background-color: lime;
}

.infobtn:hover,
.close:hover {
	scale: 1.2 !important;
	background-color: rgb(1, 1, 1);
}
.randombtn:active,
.infobtn:active,
.close:active {
	cursor: pointer;
	scale: 1 !important;
}

#beerinfo {
	max-width: 700px;
	display: none;
	grid-template-columns: 1fr 4fr;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding: 40px;
	z-index: 5;
	background: white;
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
	border-radius: 18px;
	rotate: -30deg;
	transform-origin: bottom right;
	animation: infointro 0.5s ease-in-out 1 forwards;
}
@keyframes infointro {
	0% {
		top: 110%;
		rotate: -30deg;
	}
	100% {
		rotate: -0deg;
	}
}

#beerinfo .img {
	width: 100px;
	min-width: 100px;
	margin-right: 40px;
	display: block;
	content: "";
	min-height: 200px;
}

#beerinfo img {
	width: 100%;
}

#beerinfo h2,
#beerinfo p,
#beerinfo ul {
	margin-bottom: 10px;
}

#beerinfo ul {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid rgb(228, 228, 228);
}

#beerinfo ul li {
	padding: 6px 12px 6px 12px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
#beerinfo ul li:nth-child(2n) {
	background: #f2f2f2;
}

#beerinfo ul span:first-child {
	display: block;
	font-size: 12px;

	width: 200px;
}

.tip {
	content: "";
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 26px;
	border-radius: 26px;
	float: left;
	display: block;
	margin-right: 10px;

	height: 26px;
	background-color: green;
	text-align: center;
}

.close {
	width: 42px;
	height: 42px;
	background-color: rgb(48, 48, 48);
	color: white;
	font-weight: bold;
	border-radius: 100%;
	position: absolute;
	top: -21px;
	right: -21px;
	text-align: center;
	line-height: 42px;
}
